@media(max-width:700px)
{
    .header{
        min-height: 140vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/K32.png);
        background-position: center;
        background-size: cover;
        position: relative;
        display: block;
    }
    #navbar{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #logo{
        width: 250px;
        display: block;
    }
    #navbar{
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        left: 0;
        text-align: right;
        z-index: 2;
    }
    #navbar ul{
        display: flex;
    
    } 
    
    #navbar::before{
        content: "";
        background-color: black;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.4;
    }
    #navbar ul li{
        list-style: none;
        font-size: 1rem;
        display: block;
    }
    #navbar ul li a{
       display: block;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        padding: 1px 22px;
    }
    #navbar ul li a:hover{
          background-color: white;
          color: black;
     }
     .text-box{
        width: 50%;
        position: absolute;
        color: #fff;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
     }
     .text-box h1{
        font-size: 20px;
     }
     .text-box h2{
        font-size: 15px;
        color: rgb(0,0,1);
     }
     .text-box p{
        margin: 10px 0 40px;
        font-size: 10px;
    }
    .btn{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 10px;
        background: transparent;
        cursor: pointer;
        position: relative;
    }
    .btn:hover{
        border: 1px solid #f33;
        background: rgb(119, 33, 33);
        transition: 1s;
    
    }

}